.App {
  width: 100vw;
  height: 100vh;
}

.App-in {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
}

.App-page-wrapper
{
  height: 100vh;
  display: flex;
  padding: 0px var(--ppadding);
  width: 100%;
  overflow: hidden;
  color: var(--clr1)
}
.App-page {
  max-width: calc(100vw - var(--ppadding));
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: aqua !important;
}



.default-page {
  width: 100%;
  background-color: var(--bg0);
  display: flex;
  justify-content: space-between;
}

.settings-page-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.settings-page-in {
  padding: var(--p);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 84vh;
}